<!-- ko if: showForm -->
<div class="fieldset company-invoice-detail-fieldset">
    <div class="company-invoice-detail-tile">Company Invoice Detail</div>
    <div class="">
        <label class="label company_legal_name" for="company">
            Company
        </label>
<!--        <input id="company"-->
<!--               data-bind="event: {change: setCompany}, value: company"-->
<!--               class="input-text" type="text"  aria-invalid="false">-->
        <input id="company"
               class="input-text" type="text"  aria-invalid="false">
    </div>
    <div class="">
        <label class="label company_legal_name" for="company_legal_name">
            Company Legal Name
        </label>
        <input id="company_legal_name"
               data-bind="event: {change: setCompanyLegalName}, value: companyLegalName"
               class="input-text" type="text"  aria-invalid="false">
    </div>
    <div class="">
        <label class="label company_legal_name" for="company_address">
            Company Address
        </label>
        <input id="company_address"
               data-bind="event: {change: setCompanyAddress}, value: companyAddress"
               class="input-text" type="text"  aria-invalid="false">
    </div>
    <div class="">
        <label class="label company_legal_name" for="vat_tax">
            VAT/TAX ID
        </label>
        <input id="vat_tax"
               data-bind="event: {change: setVatTax}, value: vatTax"
               class="input-text" type="text"  aria-invalid="false">
    </div>
    <div class="">
        <label class="label company_legal_name" for="company_representative">
            Company Representative
        </label>
        <input id="company_representative"
               data-bind="event: {change: setCompanyRepresentative}, value: companyRepresentative"
               class="input-text" type="text"  aria-invalid="false">
    </div>
    <div class="">
        <label class="label company_legal_name" for="company_email">
            Company Email
        </label>
        <input id="company_email"
               data-bind="event: {change: setCompanyEmail}, value: companyEmail"
               class="input-text" type="text"  aria-invalid="false">
    </div>
</div>
<!-- /ko -->




